
/*----------------------------------------------------
	top-mv
----------------------------------------------------*/
.top-mv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - var(--header-height));
	margin-top: var(--header-height);
	color: #fff;
	background: #000 url(../img/flower.jpg) center center /cover;
}
/*----------------------------------------------------
	widget-item
----------------------------------------------------*/
#slide01 {
	position: relative;
}
.section1.section1 {
	background: #000 url(../img/hart.jpg) center center /cover;
}
.widget-item {
	margin: 50px 0;
	padding: 50px 0;
	background-color: #eee;
}
/*----------------------------------------------------
	xxx
----------------------------------------------------*/
.xxx {

}
/*----------------------------------------------------
	xxx
----------------------------------------------------*/
.xxx {

}
.swiper-slide img {
	height: auto;
}
@include pc {
}
@include sp-tab {
}
@media (hover: hover) {
}