
/*----------------------------------------------------
	リンク
----------------------------------------------------*/
a {
	color: $color;
	text-decoration: none;
	transition: color .3s $easeInOutSine, background .3s $easeInOutSine, border .3s $easeInOutSine, box-shadow .3s $easeInOutSine ;
	img {
		transition: color .3s $easeInOutSine, background .3s $easeInOutSine, border .3s $easeInOutSine, opacity .3s $easeInOutSine, box-shadow .3s $easeInOutSine, transform .3s $easeInOutSine ;
	}
	@media (hover: hover) {
		&:hover {
		}
	}
}

@media (hover: hover) {
	a[href^='tel:'] {
		pointer-events: none;
	}
}
@media (hover: none) {
	a, button {
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
	}
}
[anchor-target] {
	content: '';
	display: block;
	position: relative;
	pointer-events: none;
	top: calc(-1 * var(--header-height));
}
