
/*----------------------------------------------------
	フォーム
----------------------------------------------------*/
[hidden] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
}

:focus:not(:focus-visible) {
	outline: none;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	left: -9999px;
	top: -9999px;
}

input,
select,
label {
	vertical-align: middle;
	color: $color;
}

[type="text"] {
	line-height: normal;
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
	-webkit-appearance: none;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	color: $color;
	font-family: $sans;
}
input[type="submit"],
button {
	cursor: pointer;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	padding: 0;
	border: 0;
	border-radius: 0;
	outline: none;
	background: transparent;
}

*:focus {
	outline: none;
}


