.idea
.vscode
node_modules
package-lock.json
*::*
# *__*
.DS_Store
Thumbs.db

# WPの場合テーマのみGIT追加
# /dest/*
# !/dest/.gitignore
# !/dest/wp-content
# /dest/wp-content/*
# !/dest/wp-content/themes
# /dest/wp-content/themes/*
# !/dest/wp-content/themes/xxx