extends ./_default
block vars
    - var path = "./"
    - var title = "テンプレート"
    - var pageClass = ""

block content

    .p-top
        section.p-top-mv
            .l-container
                .p-top-mv__wrap
                    .p-top-mv__head
                    .p-top-mv__conten
                        .p-top-mv__title
                        .p-top-mv__body
        section.p-top-
        section.p-top-
        section.p-top-
        












