extends ./_default
block vars
    - var path = "./"
    - var title = "テンプレート"
    - var pageClass = ""

block content

    .l-container
        .u-template
            .u-gap
                p .c-paragraph
                p.c-paragraph 本文
            hr
            .u-gap
                p .c-btn-menu
                button.c-btn-menu(aria-label="メニューを開く")
                    span
                    span
                    span














