
/*----------------------------------------------------
	legacy-browser
----------------------------------------------------*/
.legacy-browser {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;

	&__body {
		text-align: center;
		color: #000;
		line-height: 2;
		a {
			color: $link;
		}
	}
	@supports (display:grid) {
		display: none;
		pointer-events: none;
		z-index: -1;
	}
}
@include pc {
}
@include sp-tab {
}
