
/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.bold,
.strong {
	font-weight: bold;
}

.u-hide {
	display: none;
}
.u-breakLine {
	display: inline-block;
}

.u-only-sp {
	display: block !important;
	@include pc-tab {
		display: none !important;
	}
}

.u-only-pc {
	display: none !important;
	@include pc-tab {
		display: block !important;
	}
}


@for $i from 1 through 30 {
	[data-delay="#{$i * 0.1}"] {
		transition-delay: #{$i * 0.1}s;
	}
}
