
/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.bold,
.strong {
	font-weight: bold;
}

.u-hide {
	display: none;
}
.u-breakLine {
	display: inline-block;
}

.u-only-sp {
	display: block !important;
	@include pc-tab {
		display: none !important;
	}
}

.u-only-pc {
	display: none !important;
	@include pc-tab {
		display: block !important;
	}
}


