
/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.bold,
.strong {
	font-weight: bold;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.indent {
	padding-left: 1em;
	text-indent: -1em;
}
.indent--2 {
	padding-left: 2em;
	text-indent: -2em;
}

.hide {
	display: none;
}
.break_line {
	display: inline-block;
}
