
/*----------------------------------------------------
	ヘッダーナビ
----------------------------------------------------*/
.header-nav {
	@include pc {
	}
	@include sp-tab {
		display: none;
		&.open {
			display: block;
			animation: fadeIn .3s ;
		}
	}
}


