
/*----------------------------------------------------
	ヘッダーナビ
----------------------------------------------------*/
.l-header-nav {
	@include pc {
		margin-left: auto;
		ul {
			display: flex;
		}
		li + li {
			margin-left: 10px;
		}
	}
	@include sp-tab {
	}
}


