@use '../Base/config' as config;
/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header {

}
.l-header-content__wrap {

}

.l-header-logo {
	z-index: 500;
	mix-blend-mode: difference;
}
.l-header-nav {
	z-index: 500;
	mix-blend-mode: difference;
}
.l-header-menu {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

