@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th, dt {
  font-weight: inherit;
}

article, main, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture {
  display: block;
}

/*----------------------------------------------------
	レスポンシブ
----------------------------------------------------*/
@media screen and (min-width: 561px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 961px) {
  .sp-tab {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .pc-tab {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .tab {
    display: none;
  }
}

@media screen and (min-width: 961px) {
  .tab {
    display: none;
  }
}

/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: #000;
  line-height: 1.5;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.serif {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}

/*----------------------------------------------------
	リンク
----------------------------------------------------*/
a {
  color: #000;
  text-decoration: none;
  transition: color .3s ease-out, background .3s ease-out, border .3s ease-out, box-shadow .3s ease-out;
}

a .alpha {
  transition: color .3s ease-out, background .3s ease-out, border .3s ease-out, opacity .3s ease-out, box-shadow .3s ease-out;
}

a img {
  transition: color .3s ease-out, background .3s ease-out, border .3s ease-out, opacity .3s ease-out, box-shadow .3s ease-out, -webkit-transform .3s ease-out;
  transition: color .3s ease-out, background .3s ease-out, border .3s ease-out, opacity .3s ease-out, box-shadow .3s ease-out, transform .3s ease-out;
  transition: color .3s ease-out, background .3s ease-out, border .3s ease-out, opacity .3s ease-out, box-shadow .3s ease-out, transform .3s ease-out, -webkit-transform .3s ease-out;
}

@media (hover: hover) {
  a:hover .alpha {
    opacity: 0.7;
  }
}

.link-text a {
  color: #1DA1F2;
}

@media (hover: hover) {
  .link-text a:hover {
    text-decoration: underline;
  }
}

a.link-text {
  color: #1DA1F2;
}

@media (hover: hover) {
  a.link-text:hover {
    text-decoration: underline;
  }
}

@media (hover: hover) {
  a[href^='tel:'] {
    pointer-events: none;
  }
}

@media (hover: none) {
  a, button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}

:target:before {
  display: block;
  position: relative;
  top: -60px;
  content: '';
  pointer-events: none;
}

@media screen and (max-width: 560px) {
  :target:before {
    top: -60px;
  }
}

/*----------------------------------------------------
	コンテナ
----------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (min-width: 961px) and (max-width: 1366px) {
  .container {
    max-width: initial;
  }
}

@media screen and (min-width: 561px) and (max-width: 960px) {
  .container {
    max-width: initial;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    max-width: initial;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container--l {
  max-width: 1420px;
}

/*----------------------------------------------------
	body
----------------------------------------------------*/
/*----------------------------------------------------
	ヘッダー メニュー
----------------------------------------------------*/
@media screen and (max-width: 960px) {
  .header-menu {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .header-menu div {
    position: relative;
  }
  .header-menu span {
    display: block;
    position: absolute;
    left: 18px;
    width: 24px;
    height: 3px;
    background: #005bac;
    transition: .35s ease-in-out;
  }
  .header-menu span:nth-child(1) {
    top: 20px;
  }
  .header-menu span:nth-child(2) {
    top: 28px;
  }
  .header-menu span:nth-child(3) {
    top: 36px;
  }
  .header-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    top: 28px;
            transform: rotate(45deg);
  }
  .header-menu.open span:nth-child(2) {
    left: 50%;
    width: 0;
  }
  .header-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    top: 28px;
            transform: rotate(-45deg);
  }
}

/*----------------------------------------------------
	ヘッダーナビ
----------------------------------------------------*/
@media screen and (max-width: 960px) {
  .header-nav {
    display: none;
  }
  .header-nav.open {
    -webkit-animation: fadeIn .3s;
    display: block;
            animation: fadeIn .3s;
  }
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
header {
  -webkit-transform: translateY(0);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
          transform: translateY(0);
}

@media screen and (min-width: 961px) {
  .scrollDown header {
    -webkit-animation: headerScrollDown .3s ease-out forwards;
            animation: headerScrollDown .3s ease-out forwards;
  }
  .scrollUp header {
    -webkit-animation: headerScrollUp .3s ease-out forwards;
            animation: headerScrollUp .3s ease-out forwards;
  }
}

.header-logo {
  height: 60px;
  background-color: #fff;
}

@-webkit-keyframes headerScrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes headerScrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes headerScrollUp {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerScrollUp {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*----------------------------------------------------
	main
----------------------------------------------------*/
/*----------------------------------------------------
	フッター
----------------------------------------------------*/
/*----------------------------------------------------
	top-mv
----------------------------------------------------*/
.top-mv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

/*----------------------------------------------------
	widget-item
----------------------------------------------------*/
.widget-item {
  margin: 50px 0;
  padding: 50px 0;
  background-color: #eee;
}

/*----------------------------------------------------
	xxx
----------------------------------------------------*/
/*----------------------------------------------------
	xxx
----------------------------------------------------*/
/*----------------------------------------------------
	xxx
----------------------------------------------------*/
/*----------------------------------------------------
	アニメーション
----------------------------------------------------*/
.fadeIn {
  display: none;
}

.fadeIn.show {
  -webkit-animation: fadeIn 0.6s linear;
  display: block;
          animation: fadeIn 0.6s linear;
}

.anime {
  visibility: hidden;
  opacity: 0;
}

.anime.opacity {
  opacity: 1;
}

.animated {
  visibility: visible;
}

.fadeIn.animated {
  -webkit-animation: fadeIn .5s forwards;
          animation: fadeIn .5s forwards;
}

.fadeInUp.animated {
  -webkit-animation: fadeInUp .5s forwards;
          animation: fadeInUp .5s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/*----------------------------------------------------
	フォーム
----------------------------------------------------*/
input[type=submit] {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

button {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

button, input, select, textarea {
  font-size: 100%;
  font-family: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -0.125em;
  width: 0.875em;
  height: 0.875em;
  margin-right: 0.25em;
}

/*----------------------------------------------------
	ボタン
----------------------------------------------------*/
/*----------------------------------------------------
	見出し
----------------------------------------------------*/
/*----------------------------------------------------
	slick
----------------------------------------------------*/
/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  outline: none;
  background: transparent;
  color: transparent;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev {
  -webkit-transform: translate(0, -50%) rotate(-135deg);
  left: 1rem;
          transform: translate(0, -50%) rotate(-135deg);
}

.slick-next {
  -webkit-transform: translate(0, -50%) rotate(45deg);
  right: 1rem;
          transform: translate(0, -50%) rotate(45deg);
}

/* Dots */
.slick-dots {
  -webkit-transform: translate(-50%, -200%);
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
          transform: translate(-50%, -200%);
}

.slick-dots li {
  width: 16px;
  height: 16px;
  font-size: 0;
}

.slick-dots li:not(:last-child) {
  margin-right: 16px;
}

.slick-dots li button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  outline: none;
  background-color: #fff;
  font-size: 0;
  line-height: 0;
}

.slick-dots li.slick-active button {
  background-color: #ccc;
}

@media screen and (max-width: 960px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
  }
  .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .slick-dots li.slick-active button {
    background-color: #ccc;
  }
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.fadeIn {
  display: none;
}

.fadeIn.show {
  -webkit-animation: fadeIn 0.6s linear;
          animation: fadeIn 0.6s linear;
}

.bold,
.strong {
  font-weight: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.indent {
  padding-left: 1em;
  text-indent: -1em;
}

.indent--2 {
  padding-left: 2em;
  text-indent: -2em;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

@media screen and (max-width: 960px) {
  .mb5 {
    margin-bottom: 0.78125vw !important;
  }
  .mb10 {
    margin-bottom: 1.5625vw !important;
  }
  .mb15 {
    margin-bottom: 2.34375vw !important;
  }
  .mb20 {
    margin-bottom: 3.125vw !important;
  }
  .mb25 {
    margin-bottom: 3.90625vw !important;
  }
  .mb30 {
    margin-bottom: 4.6875vw !important;
  }
  .mb35 {
    margin-bottom: 5.46875vw !important;
  }
  .mb40 {
    margin-bottom: 6.25vw !important;
  }
  .mb45 {
    margin-bottom: 7.03125vw !important;
  }
  .mb50 {
    margin-bottom: 7.8125vw !important;
  }
  .mb55 {
    margin-bottom: 8.59375vw !important;
  }
  .mb60 {
    margin-bottom: 9.375vw !important;
  }
  .mb65 {
    margin-bottom: 10.15625vw !important;
  }
  .mb70 {
    margin-bottom: 10.9375vw !important;
  }
  .mb75 {
    margin-bottom: 11.71875vw !important;
  }
  .mb80 {
    margin-bottom: 12.5vw !important;
  }
  .mb100 {
    margin-bottom: 15.625vw !important;
  }
}

.fz10 {
  font-size: 0.625em;
}

.fz12 {
  font-size: 0.75em;
}

.fz13 {
  font-size: 0.8125em;
}

.fz14 {
  font-size: 0.875em;
}

.fz15 {
  font-size: 0.9375em;
}

.fz16 {
  font-size: 1em;
}

.fz17 {
  font-size: 1.0625em;
}

.fz18 {
  font-size: 1.125em;
}

.fz20 {
  font-size: 1.25em;
}

.fz22 {
  font-size: 1.375em;
}

.fz24 {
  font-size: 1.5em;
}

.fz26 {
  font-size: 1.625em;
}

.fz28 {
  font-size: 1.75em;
}

.fz30 {
  font-size: 1.875em;
}

.fz32 {
  font-size: 2em;
}

@media screen and (max-width: 960px) {
  .fz10--sp {
    font-size: 0.625em;
  }
  .fz12--sp {
    font-size: 0.75em;
  }
  .fz13--sp {
    font-size: 0.8125em;
  }
  .fz14--sp {
    font-size: 0.875em;
  }
  .fz15--sp {
    font-size: 0.9375em;
  }
  .fz16--sp {
    font-size: 1em;
  }
  .fz17--sp {
    font-size: 1.0625em;
  }
  .fz18--sp {
    font-size: 1.125em;
  }
  .fz20--sp {
    font-size: 1.25em;
  }
  .fz22--sp {
    font-size: 1.375em;
  }
  .fz24--sp {
    font-size: 1.5em;
  }
  .fz26--sp {
    font-size: 1.625em;
  }
  .fz28--sp {
    font-size: 1.75em;
  }
  .fz30--sp {
    font-size: 1.875em;
  }
  .fz32--sp {
    font-size: 2em;
  }
}

.hide {
  display: none;
}

.break_line {
  display: inline-block;
}

/*----------------------------------------------------
	widget-editor
----------------------------------------------------*/
.widget-editor {
  font-size: 16px;
  line-height: 2;
}

.widget-editor h1 {
  margin: 0.67em 0;
  font-weight: bold;
  font-size: 2em;
}

.widget-editor h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
  font-size: 1.5em;
}

.widget-editor h3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.17em;
}

.widget-editor h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  font-weight: bold;
  font-size: 1em;
}

.widget-editor h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  font-weight: bold;
  font-size: 0.83em;
}

.widget-editor strong {
  font-weight: bold;
}

.widget-editor em {
  font-style: italic;
}

.widget-editor ul {
  margin-left: 1.5em;
}

.widget-editor li {
  list-style: disc;
}

.widget-editor > * + * {
  margin-top: 1.5em;
  word-break: break-all;
}

.widget-editor a {
  color: #31A2F2;
  text-decoration: underline;
}

.widget-editor a:hover {
  text-decoration: none;
}

.widget-editor table th {
  font-weight: bold;
}

.widget-editor table th,
.widget-editor table td {
  padding: .5em .5em;
  border: 1px solid #ccc;
}

.widget-editor a {
  color: #1DA1F2;
  text-decoration: underline;
}

.widget-editor a:hover {
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .widget-editor {
    font-size: 14px;
  }
}
