
/*----------------------------------------------------
	top-mv
----------------------------------------------------*/
.top-mv {
	position: relative;
	width: 100%;
	height: calc(100vh);
	.top-mv__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100vh);
		color: #fff;
		font-family: Poppins, DIN, Futura, serif;
		font-size: 3em;
		font-weight: bold;
		letter-spacing: 0.2em;
		background: #000 url(../img/pic1.jpg) center center /cover;
	}
	._txt {
		display: block;
		text-align: center;
		-webkit-text-stroke: 4px #ccc;
		&:before {
			content: attr(data-text);
		}
		//
	}
}
/*----------------------------------------------------
	widget-item
----------------------------------------------------*/
